<!-- LOGIN VALIDATION HTML -->
<body>
  <div class="login">
    <div class="div">
      <div class="container">
        <div class="text-wrapper-3"  style="padding-left: 50px; margin-top:50px;">Login</div>
        <div class="text-wrapper-4" style="padding-left: 50px;  margin-top: 50px;">Know Your Network</div>
        <br><Br><br><br><br>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="box b1">
        <div class="form-group">
          <input
            type="email"
            class="rectangle"
            id="username"
            name="username"
            formControlName="username"
            [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
            placeholder="Username"
            required
          />
          <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error-message">
            <!-- Error messages for Username -->
            <small style="color: red;" *ngIf="loginForm.get('username')?.hasError('required')">Field can't be empty</small>
            <small style="color: red;" *ngIf="loginForm.get('username')?.hasError('pattern')">Invalid username format</small>
          </div>
        </div>
  
        <div class="form-group">
          <input
            type="password"
            class="rectangle"
            id="password"
            name="password"
            formControlName="password"
            [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            placeholder="Password"
            required
          />
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-message">
            <!-- Error messages for Password -->
            <small style="color: red;" *ngIf="loginForm.get('password')?.hasError('required')">Field can't be empty</small>
          </div>
        </div>
   
        <button type="submit" class="btn btn-login">Login</button> 
        </form>
        <br>
          <span class="span">Not a User? </span> <span routerLink="/register" class="text-wrapper-6">Signup</span>
        </div>
        <img class="loginpic" src="loginpic.jpg">
        <!-- <div class="loginpic" style="background-image: url('loginpic.jpg');"></div> -->
    </div>
    </div>
  </body>