.navbar {
  background-color: black; 
  color: white;
  padding: 10px 0; 
  
}

.centered-nav {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 10px; 
}

.centered-nav li {
  display: inline;
  margin: 0 10px; 
}

.centered-nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}


.centered-nav a:hover {
  background-color: white;
  color: #3f51b5;
  cursor: pointer; 
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  width: 300px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
