<body>
<div class="container">
  <div class="profile">
      <img src="https://media.istockphoto.com/id/1324786380/photo/young-handsome-smiling-man-in-brown-shirt-and-glasses-feeling-confident-isolated-on-gray.webp?b=1&s=170667a&w=0&k=20&c=7yoJXyEpncSC4wXBuuDeRgelV1lfAEqWmzCuu3JfRqg=" alt="Profile Picture">
  </div>
  <div class="quote">
    <h1>Welcome ADMIN!</h1>
      <p id="quote-text">{{ randomQuote }}</p>
  </div>
  <div>
  <h1>OUR CDR SERVICES</h1>
  <div class="card-container">
      <div class="card" >
              <h4 >VOICE CDR</h4>
              <div class="content">
                  <h3>CDR Description</h3>
                  <p>This is where you can provide a description of the CDR service. You can add more details here to explain what this service is all about.</p>
              </div>
              <!-- <button class="click-button" routerLink="/voice-cdr">Click Here</button> -->
      </div>

      <div class="card">
            <h4>SMS CDR</h4> 
            <button class="click-button" routerLink="/sms-cdr">Click Here</button>      
    </div>

    <div class="card">
          <h4>ROAMING CDR</h4>
          <button class="click-button" routerLink="/roaming-cdr">Click Here</button>
    </div>

    <div class="card">
        <h4>BILLING CDR</h4>
        <button class="click-button" routerLink="/billing-cdr">Click Here</button>
    </div>

    <div class="card">
      <h4>LOCATION CDR</h4>
      <button class="click-button" routerLink="/location-cdr">Click Here</button>

</div>

<div class="card">
      <h4>DATA CDR</h4>
      <button class="click-button" routerLink="/voice-cdr">Click Here</button>
</div>

<div class="card">
 
      <h4>VoIP CDR</h4>
      <button class="click-button" routerLink="/voip-cdr">Click Here</button>

</div>


<div class="card">
      <h4>EVENT CDR</h4>
      <button class="click-button" routerLink="/event-cdr">Click Here</button>
</div>

<div class="card">
      <h4>MMS CDR</h4>
      <button class="click-button" routerLink="/mms-cdr">Click Here</button>
</div>

<div class="card">
      <h4>VIDEO CDR</h4>
      <button class="click-button"routerLink="/video-cdr">Click Here</button>
</div>

  </div>
</div></div>
</body>