
body {
    overflow-x: hidden;
    font-family: sans-serif;
    height: 100vh;
}

.navbar {
    background-color: black;
    /* Navbar background color */
    color: white;
    /* Text color */
    padding: 10px 0;
    /* Add padding as needed */
}
.logo{
    width: 100px;
   

}
.centered-nav {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 1.3rem;
    /* Adjust font size as needed */
    margin-top: 10px;
    /* Adjust margin to vertically center the navigation */
}

.centered-nav li {
    display: inline;
    margin: 0 10px;
    /* Adjust spacing between navigation items */
}

.centered-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    /* Add border radius for a button-like appearance */
}

.centered-nav a:hover {
    background-color: white;
    /* Background color on hover */
    color: #3f51b5;
    /* Text color on hover */
}

/* Center the carousel */
#carouselExample {
    text-align: center;
    width: 100%;
    /* Set the width to 50% to occupy the left half */
    height: 90vh;

}

/* Style the carousel images */
.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
.col-md-6:first-child {
    padding-left: 0;
}
.featuredPropBox ul li:hover {
    transform: scale(1.05);  /* adjust the value as needed */
    transition: transform 0.3s ease;
}
.featuredPropBox ul li:hover {
    z-index: 1;
}
/* Style the carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: white;
}
.carousel-caption{
    font-size: larger;
}

/* Center the control buttons vertically */
.carousel-control-prev {
    margin-top: 175px;
}

.carousel-control-next {
    margin-top: 175px;
}

/* Add some space between the images and control buttons */
.carousel-inner {
    margin-bottom: 20px;
}

/* Style the active carousel item */
.carousel-item.active {
    display: block;
}

/* Optionally, you can add a box shadow to the carousel for a subtle effect */
#carouselExample {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.carousel-caption1
{
    text-align: center;
    margin-bottom: 300px;
    size: 40px;
    margin-right: 200px;
}
.carousel-caption
{
    text-align: center;
    margin-bottom: 100px;
    size: 40px;
   
   
}
.carousal-heading1
{
    text-align:start;
    margin-bottom: 200px;
    size: 70px;
    margin-right: 150px;;
    font-family: JioType,helvetica,arial,sans-serif;
font-weight: 1000;
text-transform: none;
width: 500px;;
font-size: 65px;
letter-spacing: -1.44px;
line-height: 1;
}
.carousal-heading{
    text-align: center;
    margin-bottom: 100px;
    size: 40px;
    font-family: JioType,helvetica,arial,sans-serif;
font-weight: 900;
text-transform: none;
font-size: 3rem;
letter-spacing: -1.44px;
line-height: 1;
   
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
        body {
                       font-family: 'Open Sans', sans-serif;
   
        }
       
        a:hover {
            text-decoration: none;
        }
       
        .np {
            padding: 0px;
        }
       
       
        .featuredPropBox ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: outside none none;
            padding: 0;
        }
       
        .featuredPropBox ul li {
           
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            display: block;
            height: 250px;
            margin: 5px;
            margin-top: 50px;
            width: 30%;
            position: relative;
            transition: all 0.3s;
            cursor: pointer;
        }
       
        .featuredPropBox ul li:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(22, 22, 22, 0.6);
            transition: all 0.3s;
        }
       
        .featuredPropBox ul li:nth-child(1) {
            background-image: url('https://media.istockphoto.com/id/1313901506/photo/cropped-shot-of-an-african-american-young-woman-using-smart-phone-at-home-smiling-african.jpg?s=612x612&w=0&k=20&c=geSmPOcfVl3aJ13j4XIDG85LZVbOVPhYsCBJ1I0BVrk=');
        }
       
        .featuredPropBox ul li:nth-child(2) {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYAAAAEhCAMAAABBWYfGAAADAFBMVEUAAACteUrck0GqdUbxqEK2f07AiVbgl0OVZz/EjFayfUyQYzyZakJ2Vjx9Wz8jEQSdbkSfcEfnnD+kckVyUjgeEg/upEG6gk+LXzq+hlIoFQplTDeCYEPjmT/8c19+WDfIkFrZkD35uGf7toHUjkBrUDorGhUQBwSjdEojFxWFXDrqoEBsTTP7bFQdDwRGMiHiVkRmRSsvFgdzWUNBLR4yHRKIY0XyqkW6hVZtSSv8cVp5UzNiSDNROiiGZkz9u4rJhDxWPyxuVD/VVkjvnGV4XkhcRDBzTi8XDgv5rXOQZ0ffUjxKNiZ8Yk7glTvsl2CWbU3imkfwYUv3sHphQSZCJAbzoWnMlWBaPCLbomlMKgbgjVzQiT0XCgT0Z1Llk1/1nlnurFo3HgU0Ixv2bFyneFDutXbpWUFUNR32p2');
        }
       
        .featuredPropBox ul li:nth-child(3) {
            background-image: url('https://i.ibb.co/QMrtWT1/c.jpg');
        }

 .featuredPropBox ul li:nth-child(4) {
            background-image: url('https://i.ibb.co/DL5pvY6/bg-1-2.jpg');
        }

 .featuredPropBox ul li:nth-child(5) {
            background-image: url('https://i.ibb.co/FWV1BJG/bg-1.jpg');
        }
 .featuredPropBox ul li:nth-child(6) {
            background-image: url('https://i.ibb.co/ZXmWmSZ/14.jpg');
        }

 .featuredPropBox ul li:nth-child(7) {
            background-image: url('https://i.ibb.co/hLcmWbT/15646.jpg');
        }

 .featuredPropBox ul li:nth-child(8) {
            background-image: url('https://i.ibb.co/89P5rTs/15678.jpg');
        }

 .featuredPropBox ul li:nth-child(9) {
            background-image: url('https://i.ibb.co/RhZgpSG/20845.jpg');
        }
       
        .featuredPropBox ul li .fplogo {
            left: 50%;
            position: relative;
            top: 50%;
            align-items: center;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 50px;
            z-index: 1;
            transition: all 0.3s;
        }
        .featuredPropBox ul li #sfplogo img {
            width: 100%;
            margin-left: 10px;;
        }
        .featuredPropBox ul li #tfplogo img {
            width: 100%;
            margin-left: 20px;;
        }
        .featuredPropBox ul li .fplogo img {
            width: 100%;
        }
       
        .featuredPropBox ul li .fptext {
            display: none;
            font-size: 16px;
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease 0s;
            width: 65%;
            z-index: 1;
        }
       
        .featuredPropBox ul li .fptext p {
            color: #fff;
            margin: 0px;
        }
       
        .featuredPropBox ul li:hover {
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2) inset;
        }
       
        .featuredPropBox ul li:hover:after {
            background-color: rgba(22, 22, 22, 0.3);
        }
       
        .featuredPropBox ul li:hover .fplogo {
            display: none;
        }
       
        .featuredPropBox ul li:hover .fptext {
            display: block;
        }
